.popup__input-error {
    height: 18px;
    display: block;
    margin: 5px 0 13px 0;
    padding: 0;
    box-sizing: border-box;
    color: #ff0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}