.popup__close-button {
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    background-size: contain;
    padding: 0;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    transition: 0.2s;
    cursor: pointer;
    color: transparent;
}

.popup__close-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0;
    }
}